<!DOCTYPE html>
<html>
  <head>
    <title>EduTrack</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-100 text-gray-900 flex flex-col min-h-screen">
    <%= render 'header' %>
    <%= render 'navigation' %>
    <main class="container mx-auto px-4 py-8 flex-1">
      <%= notice %>
      <%= alert %>
      <%= yield %>
    </main>
    <%= render 'footer' %>
  </body>
</html>
